.wrapper {
    flex: 1 1 0%;

    .search {
        display: flex;
        border: 1px solid rgb(221, 221, 227);
        border-radius: 8px;
        align-items: center;

        .search-icon {
            margin: 0px 0px 0px 18px;
            color: rgb(128, 128, 137);
        }

        .search-input {
            border: 0px;
            padding: 0px 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            flex: 1 1 0%;
        }

        .btn-search {
            cursor: pointer;
            border: 0px;
            width: 92px;
            height: 38px;
            padding: 4px;
            border-radius: 0px 8px 8px 0px;
            background: transparent;
            color: rgb(10, 104, 255);
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:hover {
                background-color: rgba(10, 104, 255, 0.2);
            }
        }

        .btn-search::before {
            content: '';
            display: block;
            position: absolute;
            border-left: 1px solid rgb(221, 221, 227);
            height: 24px;
            left: 0px;
            top: 8px;
        }
    }
}
